/*------------------------------------------------*/
/*-------------------[FONTS]----------------------*/
/*------------------------------------------------*/

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	//color: $maroon;
	//font-family: $pt-sans;
}

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

body { 
	color: #707070;
	font-family: $roboto;
}

.maroon {
  color: $maroon;
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

/*------------------------------------------------*/
/*--------------------[LINKS]---------------------*/
/*------------------------------------------------*/

a {
  color: $green;
  &:hover {
    text-decoration: none;
    color: $green;
  }
}

#main-menu {
  a {
    font-family: $roboto-condensed;
    color: $green;
  }
}

.mobileToggle {
  color: $maroon;
}

/*------------------------------------------------*/
/*-------------------[BUTTONS]--------------------*/
/*------------------------------------------------*/

.btn {
  white-space: normal;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  color: #fff !important;
  border: 0;
  @include border-radius(5px);
  padding: 10px 25px;
  &:hover {
    border: 0;
  }
}

.maroon-button {
  background-color: $maroon !important;
  &:hover {
    background-color: darken( $maroon, 10% ) !important;
    }
}

.green-button {
  background-color: $green !important;
  &:hover {
    background-color: darken( $green, 10% ) !important;
    }
}

/*------------------------------------------------*/
/*--------------------[HEADER]--------------------*/
/*------------------------------------------------*/

#utilityHeader {
  background-color: $maroon;
  color: #fff;
  a {
    text-transform: uppercase;
    color: #fff;
    font-family: $roboto-condensed;
  }
}

#headerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 1;
  box-shadow: 0 3px 6px -3px #707070;
}

.join {
  a {
    color: #fff !important;
  }
}

/*------------------------------------------------*/
/*---------------------[PAGES]--------------------*/
/*------------------------------------------------*/
.page-header {
  margin: 50px auto;
  text-align: center;
  h1 {
    color: $gray;
    font-family: $roboto-condensed;
    font-weight: bold;
  }
  h3 {
    color: $maroon;
    font-family: $roboto;
    font-weight: bold;
  }
}

#hero {
    min-height: 500px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    box-shadow:  rgba(70,70,70, .65) 0 0 0 500px inset;
  }

#footerWrapper {
  margin-top: 50px;
  border-top: solid 3px $green;
}

#homepage {
  #hero {
    background-attachment: fixed !important;
  }
  #bucketsText {
    color: $green;
  }
  #buckets {
    background-color: rgba(31,86,33,.10);
    .bucket-wrapper {
      height: 100%;
      @include shadow;
      background-color: #fff;
      h5 {
        font-family: $roboto-condensed;
        font-weight: bold;
        color: $gray;
      }
      p {
        color: $maroon;
        font-weight: bold;
      }
      span {
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}

.home, .page-template-network {
  #footerWrapper {
    padding-top: 0;
    margin-top: 0;
    border: 0;
  }
}

#aboutUs {
  #imageSection {
    .name {
      color: $maroon;
      font-weight: bold;
    }
    .title {
      color: $green;
    }
  }
  #ourTeam {
    text-align: center;
    font-weight: bold;
    color: $maroon;
    h3 {
      color: $gray;
      font-family: $roboto-condensed;
      font-weight: bold; 
    }
  }
}

#faq {
  .question {
    cursor: pointer;
    background-color: rgba(31,86,33,.10);
    i {
      font-size: 36px;
      color: $green;
    }
    .card-wrapper {
      h2 {
        font-weight: bold;
        color: $green;
      }
      .card-body {
        background: #fff;
      }
    }
    a[aria-expanded="true"] {
      i {
        transform: rotate(180deg);
      }
    }
  }
}

#contact {
  #contactBox {
    color: $green;
    border-bottom: solid 1px $gray;
    i {
      color: $maroon;
    }
  }
}

#network {
  #hero {
    h1 {
      font-family: $roboto-condensed;
      font-weight: bold;
      color: #fff;
    }
    h5 {
      font-weight: bold;
      color: #fff;
    }
  }
  #video, #form {
    background-color: rgba(31,86,33,.10);
  }
  #customerCallout {
    a {
      color: $maroon;
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #howItWorks {
    border-bottom: solid 3px $green;
  }
}

#serviceRegions {
  #starburst {
    text-align: center;
    h5 {
      font-family: $roboto-condensed;
      font-weight: bold;
      color: $green;
      background-image: url('/wp-content/themes/understrap-child/img/starburst.png');
      background-size: cover !important;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 250px;
    }
  }
  #currentRegions {
    h5 {
      border-bottom: solid 3px $green;
    }
    a {
      color: $maroon;
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------------------------------------------*/
/*------------------[NINJA FORMS]-----------------*/
/*------------------------------------------------*/

.nf-form-content {
  padding: 0 !important;
  .nf-error-msg {
    margin-bottom: 25px;
  }
  .nf-response-msg {
      border: solid 1px $maroon;
      padding: 10px 25px;
      margin-bottom: 15px;
      border-radius: 5px;
      p:last-of-type {
        margin-bottom: 0;
      }
  }
  input:not([type="button"]), textarea, select {
    padding: 10px 15px;
    border: solid 1px $green !important;
    border-radius: 5px !important;
  }
  .nf-error.field-wrap .nf-field-element:after {
    background: $green;
  }
}
.nf-form-fields-required {
  display: none;
}